.appContainer {
  background: linear-gradient(45deg, #5ca54b, #000000);
  width: 100%;
    min-height: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }

.app {
    background-color: #5ca54b;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    transition: 1s;
  }

  /* in quizPlay */

  .score {
    flex-direction: column;
    align-items: center;
  }

  .score-header {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .score-message {
    font-size: 20px;
    font-weight: bold;
  }

  .link {
    text-decoration: none;
    color: #ffffff;
  }

  /* questionCard */

  .timeout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 0.2em;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .question-section {
    width: 100%;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .question-count-timer {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .question-count{
    color: white;
  }

  .timer {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    background-color: black;
    padding: 12px;
    border-radius: 25px;
    transition: 1s;
  }
  
  .question-text {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
  }
  
  
  .answer-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;

  }
  
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #234668;
    cursor: pointer;
    margin: 3px;
    font-size: 16px;
    letter-spacing: 0.06em;
    transition: 0.5s;
  }

  .button-selected{
      background-color: black;
  }
  .button-selected:hover{
      background-color: #1e2027;      
  }

  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }

  .submitButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.submitButton {
  background: #252d4a;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.2em;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  }

  .submitButton:hover {
    background-color: #131727;
  }

  .next-and-prev-buttonsContainer {
    display: flex;
    margin-top: 20px;
  }

  .button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #225218;
    width: 100px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.2em;
    text-align: center;
    transition: 0.5s;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
}



/* quiz SCREEN */

.quizScreenContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.quizNavContainer {
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: #5ca54b;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  transition: 1s;
  /* flex-wrap: wrap; */
}

.quizNavContainer:hover{
  background-color: blanchedalmond;
  color: #000000;
}

.quizScreenText {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}