.rankTable {
    height: 200px;
    width: 100%;
    /* background-color: wheat; */
    margin-top: 5px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    
}

.singleInputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

}



.text {
    display: flex;
    /* align-self: center; */
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    /* background-color: black; */
    /* color: white; */
    text-align: center;
    height: 30px;
    /* margin: 2px; */
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.rankText {
    flex: 2;
}

.nameText {
    flex: 3;
}

.scoreText {
    flex: 3;
}

.headContainer {
    color: white;
    font-size: 20px;
    letter-spacing: 0.2em;
}